@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Jomhuria';
    src: url('../fonts/Jomhuria-Regular.ttf') format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SIGNUP FORM 1 */
.body_of_signup {
    height: 100%;
    display: none;
}
.credentials_buttons {
    height: 90%;
}
.credentials_form1 {
    /* display: none; */
}

/* TITLE */
.body_of_signup .signup_title {
    display: flex;
    justify-content: center;
    font-family: "Nunito";
    font-weight: 400;
    color: #1B263B;
    font-size: 35px;
    height: 10%;
}

/* NAME */
.credentials_buttons .credentials_form1 .name {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    gap: 19.643px;
}

.credentials_form1 .name .lastname,
.credentials_form1 .name .firstname {
    position: relative;
    width: 47.56%;
}
.credentials_form1 .name .lastname label,
.credentials_form1 .name .firstname label{
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    color: var#1B263B;
    transition: 0.5s;
    opacity: 50%;
}
.name .nameInput {
    border-radius: 24px;
    border: 2px solid #1B263B;
    background-color: #D9D9D9;
    padding: 10px 0 10px 19px;
    width: 100%;
}
.name .lastname input:focus~label, 
.name .firstname input:focus~label,
.name .lastname input:valid~label, 
.name .firstname input:valid~label {
    display: flex;
    background: #D9D9D9;
    transform: translateY(-25px) translateX(-10px) scale(0.7);
    padding: 0 10px;
    opacity: 100%;
}

/* BIRTHDAY */
.birthday {
    margin-top: 13.75px;
}
.birthday 
.inputs_of_birthday {
    display: flex;
    gap: 20px;
}
.months_container, 
.days_container, 
.years_container {
    position: relative;
    height: 43.578px;
    width: 33.8%;
}
.months_container label, 
.days_container label, 
.years_container label {
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: Roboto;
    font-weight: 400;
    color: #1B263B;
    transition: 0.5s;
    opacity: 50%;
}
#month_input, #daysInput, #yearInput {
    height: 100%;
    width: 90%;
    border-radius: 23.557px;
    border: 2px solid #1B263B;
    background: #D9D9D9;
    padding: 10px 0 10px 10px;
}
#error_for_month, #error_for_days, #error_for_year {
    font-size: small;
    color: rgb(196, 26, 26);
}
#daysInput[type="text"]:disabled {
    border: 2px solid #9f9f9f;
    background: #D9D9D9;
}
#month_input:focus~label, 
#daysInput:focus~label, 
#yearInput:focus~label,
#month_input:valid~label, 
#daysInput:valid~label, 
#yearInput:valid~label{
    display: flex;
    background: #D9D9D9;
    transform: translateY(-20px) translateX(-10px) scale(0.7);
    padding: 0 10px;
    opacity: 100%;
} 
input:disabled~label {
    color: #9f9f9f;
}

/* GENDER */
.gender_container {
    display: flex;
    gap: 29.932px;
    height: 26px;
    color: var(--30-light, #1B263B);
    margin-top: 40px;
    font-family: Roboto;
    font-size: 19.843px;
    font-weight: 400;
    text-align: center;
}
.gender_container .male input,
.gender_container .female input,
.gender_container .others input {
    transform: scale(1.3);
}

/* BUTTON */
form {
    height: 100%;
}
.buttons_container {
    width: 100%;
    display: flex;
    height: 20%;
    justify-content: center;
    gap: 123px;
    position: relative;
    top: 15%;
}
.back_container #back_button,
.next_container #next_button {
    width: 98px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25.185px;
    border: none;
    color: var(--60, #E0E1DD);
    font-family: Roboto;
    font-size: 19.843px;
    font-weight: 400;
}
.back_container #back_button {
    background: var(--10-darker, #415A77);
    transition: ease-in-out 0.3s;
}
.next_container #next_button {
    background: var(--30-light, #1B263B);
    transition: ease-in-out 0.3s;
}

.back_container #back_button:hover,
.next_container #next_button:hover {
    cursor: pointer;
}

/* FORM2 */
.credentials_form2 {
    margin-top: 55px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: center;
    display: none;
}
.barangayContainer, 
.cityContainer, 
.provinceContainer, 
.countryContainer {
    display: flex;
    position: relative;
    width: 50%;
}

.barangayContainer label, 
.cityContainer label, 
.provinceContainer label, 
.countryContainer label {
    position: absolute;
    font-family: Roboto;
    font-weight: 400;
    font-size: 19.843px;
    color: var(--30-light, #1B263B);
    top: 15%;
    left: 10%;
    transition: 0.5s;
    opacity: 50%;
}
.barangayAndCity,
.provinceAndCountry {
    display: flex;
    gap: 13px;
}

.barangayContainer input, 
.cityContainer input, 
.provinceContainer input, 
.countryContainer input {
    width: 100%;
    padding: 10px 21px;
    border-radius: 23.557px;
    border: 2px solid var(--30-light, #1B263B);
    background: #D9D9D9;
    outline: none;
    
}
.barangayContainer input:focus~label, 
.cityContainer input:focus~label, 
.provinceContainer input:focus~label, 
.countryContainer input:focus~label,
.barangayContainer input:valid~label, 
.cityContainer input:valid~label, 
.provinceContainer input:valid~label, 
.countryContainer input:disabled~label {
    transform: translateY(-20px) translateX(-10px) scale(0.7);
    display: flex;
    padding: 0 10px;
    background: #D9D9D9;
    opacity: 100%;
}

/* FORM 3 */
.credentials_form3 {
    display: none;
    flex-direction: column;
    gap: 23px;
    margin-top: 20px;
}
.credentials_form3 .email_container,
.credentials_form3 .password_container,
.credentials_form3 .reenterPassword_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.credentials_form3 .email_container label,
.credentials_form3 .password_container label,
.credentials_form3 .reenterPassword_container label {
    display: flex;
    position: absolute;
    font-family: "Roboto";
    font-size: 19.843px;
    font-weight: 400;
    top: 20%;
    left: 15%;
    transition: 0.5s;
    opacity: 50%;
}
.credentials_form3 .email_container input,
.credentials_form3 .password_container input,
.credentials_form3 .reenterPassword_container input {
    width: 80%;
    border-radius: 23.557px;
    border: 2px solid var(--30-light, #1B263B);
    background: #D9D9D9;
    padding: 10px 21px;
}
.credentials_form3 .email_container input:focus~label,
.credentials_form3 .password_container input:focus~label,
.credentials_form3 .reenterPassword_container input:focus~label,
.credentials_form3 .email_container input:valid~label,
.credentials_form3 .password_container input:valid~label,
.credentials_form3 .reenterPassword_container input:valid~label {
    transform: translateY(-25px) translateX(-10px) scale(0.7);
    display: flex;
    padding: 0 10px;
    background: #D9D9D9;
    opacity: 100%;
}

/* VERIFICATION */
.verification_container{
    display: none;
}
.verification_container .verificationTxt_container {
    margin: 10px 0 20px 0;
}

.verification_container .verificationTxt_container p {
    margin: 0;
    font-size: 15px;
    color: var(--30-darker, #0D1B2A);
    font-family: Roboto;
}
.verification_container .verificationTxt_container span {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    margin-right: 15px;
}
.verification_container .verificationTxt_container a {
    color: var(--10-darker, #415A77);
    text-decoration-line: underline;
    font-size: 15px;
}
.verification_container .codeInput_container input {
    width: 100%;
    height: 58px;
    border-radius: 5px;
    border: 2px solid var(--10-darker, #415A77);
    background: #D9D9D9;
    font-size: 30px;
    padding: 0 10px;
    outline: none;
    margin-bottom: 20px;
}
.resendCode_container span {
    font-size: 15px;
    color: var(--30-darker, #0D1B2A);
    margin-right: 5px;
}
.resendCode_container a {
    color: var(--10-darker, #415A77);
    font-size: 15px;
    text-decoration-line: underline;
}

/* TOGGLE */
button.verifyBtn#next_button {
    width: 350px;
    border-radius: 10px;   
}

/* ACCOUNT SUCCESSFULLY CREATED */
.accountCreated_container {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.accountCreated_container #accountCreatedText {
    font-family: Nunito;
}
.accountCreated_container span.material-icons {
    font-size: 30px;
    display: flex;
    color: #3BA44B;
    transition: 1s;
    visibility: hidden;
}
.signupForm {
    display:none;
}



