:root {
    --60:#E0E1DD;
    --30-darker: #0D1B2A;
    --30-lighter: #1B263B;
    --10-darker: #415A77;
    --10-lighter: #778DA9;
    --grey:#ECECEC;
    --post-text: #BBBBBB;
    --card-bg-: #D9D9D9;
}
body {
    background-color: var(--60);
}
/***** NAV BAR *****/
.nav_bar {
    background: var(--30-darker, #1B263B);
    height: 75px;
    display: flex;
    align-items: center;
}
.logo_container img {
    width: 39px;
    height: 47px;
    color: #778DA9;
}
.logo_container h2 {
    font-family: 'Jomhuria';
    font-size: 3vw;
    color: var(--10-light, #778DA9);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.options .options_btns {
    display: flex;
    list-style: none;
    color: var(--60, #E0E1DD);
    align-items: center;
    gap: 30px;
    margin: 0;
}
.options .options_btns li a{
    display: block;
    padding: 20px 10px;
    font-family: Roboto;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: var(--60, #E0E1DD);
    
}
.options .options_btns li.active a {
    color: #778DA9;
}

.options .options_btns li:hover {
    cursor: pointer;
}
.options_icons {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 20px;
    padding: 0;
}
.options_icons .material-icons {
    color: #E0E1DD;
    font-size: 40px;
    list-style: none;
}
.options_icons .material-icons:hover {
    cursor: pointer;
}

/***** End NAV BAR *****/

/***** UPLOAD SECTION *****/
.container {
    height: 100vh;
}
.upload_section {
    width: 100%;
    height: 15%;
    margin: 15px 0 25px 0;
    box-shadow: 0px 0px 10px var(--post-text);
}
.upload {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.DP_container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.DP_container img {
    border: 3px solid var(--post-text);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    object-fit: cover;
}
.thoughts_input {
    position: relative;
    width: 80%;
}
.thoughts_input label {
    position: absolute;
    top: 20%;
    left: 5%;
    color: var(--post-text);
}
#thoughts_input {
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: var(--grey);
    padding: 0;
    height: 100%;
    padding: 10px;
    border: 1px solid #d6d6d6;
    text-justify: distribute;
}
#buttons_vessel {
    display: flex;
    width: 100%;
    height: 50%;
    border-top: 2px solid var(--grey);
}
#buttons_vessel button{
    border: none;
    color: var(--10-darker);
    background-color: white;
    border: 1px solid var(--grey);
    transition: .5s;
    height: 100%;
}
#buttons_vessel button i {
    font-size: 22px;
}
#buttons_vessel #photo_btn,
#buttons_vessel #video_btn {
    width: 40%;
}#buttons_vessel #post_btn {
    width: 20%;
    color: var(--10-lighter);
}

#buttons_vessel input {
    display: none;
}

/* PSEUDO */
input#thoughts_input:focus {
    border: 2px solid var(--post-text);
    outline: none;
}
input#thoughts_input:focus~label,
input#thoughts_input:valid~label {
    display: none;
}
#buttons_vessel button:hover {
    transform: scale(1.01);
}
#buttons_vessel button#photo_btn:hover {
    box-shadow: 5px 5px 10px var(--post-text);
}
#buttons_vessel button#video_btn:hover {
    box-shadow: 5px 5px 10px var(--post-text),
    -5px 5px 10px var(--post-text);
}
#buttons_vessel button#post_btn:hover {
    box-shadow: -5px 5px 10px var(--post-text);
}

#buttons_vessel button#photo_btn:active {
    box-shadow: 5px 5px 10px var(--post-text) inset;
}
#buttons_vessel button#video_btn:active {
    box-shadow: 5px 5px 10px var(--post-text) inset;
}
#buttons_vessel button#post_btn:active {
    box-shadow: 5px 5px 10px var(--post-text) inset;
}
/***** End UPLOAD SECTION *****/


/***** POST *****/
.post {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 35px 0 35px;
    box-shadow: 0px 0px 10px var(--post-text);
    margin-bottom: 30px;
}
.user-info {
    margin-bottom: 30px;
    display: flex;
    gap: 19px;
}
.user-info .DP {
    height: 54px;
    width: 54px;
}
.user-info .DP img {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 3px solid var(--post-text);
    object-fit: cover;
}
.user-info .post-info .user-fullname span{
    color: var(--30-lighter);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.user-info .post-info .date span {
    color: var(--10-darker);
    font-size: 12px;
}

.post_body {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post_body .caption #caption {
    color: var(--30-lighter);
    font-size: 16px;
}
.post_body .picture {
    height: 476px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.post_body .picture img {
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

.buttons {
    width: 100%;
    display: flex;
    border-top: 2px solid var(--post-text);
    border-radius: 5px;
}
.buttons button {
    width: 50%; 
    height: 70px;
    background-color: transparent;
    border: none solid var(--post-text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.buttons button i {
    font-size: 25px;
    color: var(--30-darker);
}

/* PSEUDO */
.buttons button:hover {
    background-color: var(--post-text);
}
/***** End POST *****/