@font-face {
    font-family: 'Nunito';
    src: url('../Assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../Assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Jomhuria';
    src: url('../Assets/fonts/Jomhuria-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html,
body {
    height: 100vh;
}

/***** NAV BAR *****/
.nav_bar {
    background: var(--30-darker, #0D1B2A);
    height: 75px;
    display: flex;
    align-items: center;
}
.logo_container img {
    width: 39px;
    height: 47px;
    color: #778DA9;
}
.logo_container h2 {
    font-family: 'Jomhuria';
    font-size: 40px;
    color: var(--10-light, #778DA9);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.options .options_btns {
    display: flex;
    list-style: none;
    color: var(--60, #E0E1DD);
    align-items: center;
    gap: 30px;
    margin: 0;
}
.options .options_btns li {
    display: block;
    padding: 20px 10px;
    font-family: Roboto;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.options .options_btns li.active {
    color: #778DA9;
}

.options .options_btns li:hover {
    cursor: pointer;
}
.options_icons {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 20px;
    padding: 0;
}
.options_icons .material-icons {
    color: #E0E1DD;
    font-size: 40px;
    list-style: none;
}
.options_icons .material-icons:hover {
    cursor: pointer;
}

/***** End NAV BAR *****/


/***** 1ST SECTION *****/
.first_section {
    width: 100%;
    position: relative;
}
.first_section svg{
    width: 100%;
    z-index: 0;
}
.first_section .container {
    position: absolute;
    height: 286px;
    top: 0;
    left: 5%;
    display: flex;
    justify-content: center;
}
.corgi_text_container {
    width: 59.54%;
    display: flex;
    align-items: center;
    color: var(--60, #E0E1DD);
    gap: 20px;
}
.corgi_text_container .text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 50%;
}
.corgi_text_container .text h4{
    font-family: Nunito;
    font-size: 35px;
    font-weight: 700;
    text-align: right;
}
.corgi_text_container .text span {
    font-family: Roboto;
    font-size: 19.843px;
    text-align: end;
}
.corgi_text_container .corgi {
    width: 50%;
}
.corgi_text_container .corgi img {
    width: 100%;
    position: relative;
    bottom: -30px;
}
/***** End 1ST SECTION *****/


/***** 2ND SECTION *****/
.second_section .container {
    height: 443px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_section .container .icons_container {
    display: flex;
    width:718px;
    height:175px;
    gap: 93px;
}
.second_section .container .icons_container li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.second_section .container .icons_container li span{
    color: #0D1B2A;
    font-family: Roboto;
    font-size: 19.843px;
    text-align: center;
}
.second_section .container .icons_container li img {
    display: block;
}
/***** End 2ND SECTION *****/

.third_section {
    position: relative;
}
.third_section .right_container {
    width: 41.75%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third_section .right_container .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    justify-content: center;
}
.third_section .right_container .text h4 {
    margin: 0;
    color: var(--60, #E0E1DD);
    font-family: Nunito;
    font-size: 4vmin;
    font-weight: 700;
}
.third_section .right_container .text span {
    font-family: Roboto;
    font-size: 3vmin;
    color: var(--60, #E0E1DD);
}