@font-face {
    font-family: 'Nunito';
    src: url('../Assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../Assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Jomhuria';
    src: url('../Assets/fonts/Jomhuria-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    background-color: #E0E1DD;
}
.container {
    position: relative;
    height: 100%;
}

/* LOGO STARTS */
.logo {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    height: 58px;
    margin-top: 20px;
    
}
.logo h2 {
    font-family: 'Jomhuria';
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
/* LOGO ENDS */

/* LOG IN STARTS */
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
#card_container {
    height: 463px;
    border-radius: 32px;
    padding: 35px 35px 45px 35px;
    border-radius: 32.817px;
    background: #D9D9D9;
    box-shadow: -16.02683px -16.02683px 32.05365px 0px #FFF,
     16.02683px 16.02683px 32.05365px 0px #BABBB7;
     transition: ease-in-out 0.5s;
     overflow: hidden;
}
.body_of_login{
    /* display: none; */
    flex-direction: column;

}
.login_title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 33.58px;
}
.login_title h3 {
    font-family: 'Nunito';
    font-size: 35px;
    font-weight: 400;
    color: #1B263B;
    text-align: center;
}
/* CREDENTIALS STARTS*/
.credentials_login {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.credentials_login .email,
.credentials_login .password{
    position: relative;
}
.credentials_login .email label,
.credentials_login .password label {
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 19.8px;
    transition: 0.5s;
    color: var(--30-light, #1B263B);
    opacity: 50%;
}
.credentials_login .email input,
.credentials_login .password input {
    padding: 10px 21px;
    border-radius: 25.185px;
    border: 2px solid #1B263B;
    background: #D9D9D9;
    font-family: 'Roboto';
    font-size: 19.8px;
    font-weight: 400;
    color: #1B263B;
    width: 100%;
    height: 44px;
}

.credentials_login .email input::placeholder,
.credentials_login .password input::placeholder {
    color: #1B263B;
}

/* CREDENTIALS PSEUDO */
.credentials_login .email input:focus~label,
.credentials_login .email input:valid~label,
.credentials_login .password input:focus~label,
.credentials_login .password input:valid~label {
    transform: translateY(-25px) translateX(-10px) scale(0.7);
    display: flex;
    background-color: #D9D9D9;
    padding: 0 10px;
    opacity: 100%;
}
.credentials_login .password input:focus~label,
.credentials_login .password input:valid~label {
    transform: translateY(-25px) translateX(-15px) scale(0.7);
}
/* CREDENTIALS ENDS*/

/* BUTTONS STARTS */
.buttons {
    margin-top: 33.5px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.login_forgotpass {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.buttons .login_forgotpass .login_button  input{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #415A77;
    background-color: #415A77;
    color: #E0E1DD;
    padding: 7.6px;
    font-family: 'Roboto';
    font-size: 19.8px;
    font-weight: 400;
    text-align: center;
}
.forgotpass_button {
    text-align: center;
}
.forgotpass_button button{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #1B263B;
    background-color: transparent;
    border: none;
}
.buttons .login_forgotpass .login_button  input:hover{
    background-color: #3c5168;
}
.buttons .login_forgotpass .login_button  input:active{
    background-color: #4c6989;
}

.forgotpass_button button:active {
    color: #415a88;
}
.forgotpass_button button:focus {
    outline: none;
}
.forgotpass_button button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.signUp_button {
    display: flex;
    justify-content: center;
}
.signUp_button button {
    border-radius: 25px;
    width: 86.11%;
    height: 45px;
    background-color: #1B263B;
    color:#E0E1DD;
    border: 1px solid #1B263B;
    font-family: 'Roboto';
    font-size: 19.8px;
    font-weight: 400;
}

/* BUTTONS PSEUDO */
.login_button a input:hover {
    cursor: pointer;
}
.signUp_button button:hover {
    cursor: pointer;
}
/* BUTTONS ENDS */
/* LOG IN ENDS */

/* RIGHT SIDE STARTS */
.rightside {
    width: 50%;
    height: 100%;
    position: fixed;
    left: 65%;
    top: 0;
    background-color: #1B263B;
    transform: skew(-10deg);
    transform-origin: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.rightside .image_container {
    width: 690px;
    height: 622px;
    background-image: url('../Assets/images/image1.jpg');
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-size: cover;
    border-radius: 100%;
    transform: skew(10deg);
    position:relative;
    right: 50px;
    mix-blend-mode: lighten;
    transition: ease-in-out 0.5s;
}
.image_container:hover {
    background-image: url('../Assets/images/image2.jpg');
}
/* RIGHT SIDE ENDS */

/* #card_container {
    height: 381px;
} */
